{{!< default}}

<div class="post_container">
  <div class="post">
    {{#post}}
      <h1>{{title}}</h1>
      <div class="ui divider"></div>
      <div class="post__content">
         {{content}}
      </div>
    {{/post}}
  </div>
  <div class="ui horizontal icon divider">
    <i class="circular heart icon"></i>
  </div>
  <div>
    copyright
  </div>
</div>
<div class="comment_container" style="color: #ffffff">
  comment code
</div>